<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>me1.png</string>
		<key>name</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>me3.png</string>
		<key>name</key>
		<string>关于我们</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>me4.png</string>
		<key>name</key>
		<string>吐槽我们</string>
	</dict>
</array>
</plist>
